{%extends "base.html"%}
{%block content%}

<h1>Homework</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ID</th>
            <th>ID</th>
            <th>ID</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% for row id data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{{url_for('insert)}}" class="button">Add more data</a>
{% endblock %}